html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #333;
  margin: 0;
  min-width: 100%;
  min-height: 100%; }

video {
  pointer-events: none; }

#main-wrapper {
  min-width: 100%;
  min-height: 100%; }

.pad-wrapper {
  height: auto;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px 1px white;
  border-radius: 5px; }
  .pad-wrapper .pad-button {
    padding: 40px;
    margin: 10px;
    float: left;
    border-radius: 10px; }
  .pad-wrapper .col-1 {
    background: blueviolet;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(rgba(255, 255, 255, 0.7), #508cf0, #3287fa);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgba(255, 255, 255, 0.7), #508cf0, #3287fa);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgba(255, 255, 255, 0.7), #508cf0, #3287fa);
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgba(255, 255, 255, 0.7), #508cf0, #3287fa);
    /* Standard syntax */ }
  .pad-wrapper .col-2 {
    background: aqua;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(rgba(255, 255, 255, 0.7), #82bee6, #28c8f0);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgba(255, 255, 255, 0.7), #82bee6, #28c8f0);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgba(255, 255, 255, 0.7), #82bee6, #28c8f0);
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgba(255, 255, 255, 0.7), #82bee6, #28c8f0);
    /* Standard syntax */ }
  .pad-wrapper .col-3 {
    background: darksalmon;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(rgba(250, 250, 250, 0.8), #ff795f, #ff2828);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgba(250, 250, 250, 0.8), #ff795f, #ff2828);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgba(250, 250, 250, 0.8), #ff795f, #ff2828);
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgba(250, 250, 250, 0.8), #ff795f, #ff2828); }
  .pad-wrapper .col-4 {
    background: darkseagreen;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(rgba(255, 255, 255, 0.7), #50d250, #3cf050);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgba(255, 255, 255, 0.7), #50d250, #3cf050);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgba(255, 255, 255, 0.7), #50d250, #3cf050);
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgba(255, 255, 255, 0.7), #50d250, #3cf050);
    /* Standard syntax */ }
  .pad-wrapper .col-5 {
    background: darkslateblue;
    /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(rgba(255, 255, 255, 0.6), #8c5096, #64326e);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgba(255, 255, 255, 0.6), #8c5096, #64326e);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgba(255, 255, 255, 0.6), #8c5096, #64326e);
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgba(255, 255, 255, 0.6), #8c5096, #64326e); }

.logo > img {
  max-width: 150px;
  height: auto; }

.menu-wrapper {
  height: auto;
  width: auto;
  position: absolute;
  left: 0;
  display: grid; }
  .menu-wrapper .playbgmbutton,
  .menu-wrapper .stopbgmbutton,
  .menu-wrapper .replaybutton,
  .menu-wrapper .recordbutton,
  .menu-wrapper .instrubutton,
  .menu-wrapper .bgmbutton,
  .menu-wrapper .inspirationbutton {
    float: left;
    margin: 10px;
    width: 45px;
    cursor: pointer;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out; }
    .menu-wrapper .playbgmbutton:hover,
    .menu-wrapper .stopbgmbutton:hover,
    .menu-wrapper .replaybutton:hover,
    .menu-wrapper .recordbutton:hover,
    .menu-wrapper .instrubutton:hover,
    .menu-wrapper .bgmbutton:hover,
    .menu-wrapper .inspirationbutton:hover {
      opacity: 0.5; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Oxygen', sans-serif; }

.popup-wrapper {
  position: absolute;
  width: 300px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -300%);
  background: #333;
  border-radius: 5px;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.5);
  z-index: 999;
  -webkit-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .popup-wrapper .popup {
    margin: 40px; }
    .popup-wrapper .popup .item {
      margin: 10px 30px 10px 0px;
      padding: 10px;
      background: rgba(250, 250, 250, 0.4);
      box-shadow: inset 0px 2px 6px 2px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      -webkit-transition: all 0.6s ease-out;
      -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
      -o-transition: all 0.6s ease-out;
      transition: all 0.6s ease-out; }
      .popup-wrapper .popup .item:hover {
        box-shadow: none;
        background: rgba(250, 250, 250, 0.5); }
      .popup-wrapper .popup .item .item-name {
        text-align: center; }
      .popup-wrapper .popup .item .icon-lock .lock-top-1 {
        background-color: rgba(160, 160, 160, 0.9); }
      .popup-wrapper .popup .item .icon-lock .lock-body {
        background-color: rgba(160, 160, 160, 0.9); }
    .popup-wrapper .popup .unlock {
      background: rgba(250, 250, 250, 0.9); }
      .popup-wrapper .popup .unlock:hover {
        background: #fafafa; }
      .popup-wrapper .popup .unlock .icon-lock .lock-top-1 {
        background-color: rgba(250, 250, 250, 0.9); }
      .popup-wrapper .popup .unlock .icon-lock .lock-body {
        background-color: rgba(250, 250, 250, 0.9); }

.black-layer {
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }

.icon-lock {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 5px;
  transform: translateY(-32px); }

.icon-lock .lock-top-1 {
  width: 40%;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 14%;
  background-color: #000;
  border-radius: 40%; }

.icon-lock .lock-top-2 {
  width: 24%;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -12%;
  top: 22%;
  background-color: #151517;
  border-radius: 25%; }

.icon-lock .lock-body {
  width: 60%;
  height: 48%;
  position: absolute;
  left: 50%;
  margin-left: -30%;
  bottom: 11%;
  background-color: #000;
  border-radius: 15%; }

.icon-lock .lock-hole {
  width: 16%;
  height: 16%;
  position: absolute;
  left: 50%;
  margin-left: -8%;
  top: 51%;
  border-radius: 100%;
  background-color: #151517; }

.icon-lock .lock-hole:after {
  content: "";
  width: 43%;
  height: 78%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 100%;
  background-color: inherit; }

.window-title {
  color: white;
  text-align: center;
  position: relative;
  top: 20px; }

.space-pad {
  width: 500px;
  height: 80px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  background: radial-gradient(rgba(255, 255, 255, 0.8), #c5c7ca, #b5b5b5); }

.nav-bar {
  position: absolute;
  right: 3%; }
  .nav-bar > ul {
    display: inline-flex; }
    .nav-bar > ul > li {
      margin: 0px 10px 0px 10px; }
      .nav-bar > ul > li:hover > div {
        opacity: 0.7; }
      .nav-bar > ul > li > div {
        background: white;
        min-width: 50px;
        height: auto;
        padding: 10px;
        border-radius: 10px;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out; }

.effect1 {
  color: white;
  padding: 8px;
  font-size: 14px;
  font-family: 'Abel', sans-serif;
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -ms-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -o-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  .effect1:hover {
    padding: 12px; }
    .effect1:hover:after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      border: 2px solid rgba(255, 255, 255, 0);
      box-shadow: inset 0 0 10px 1px #00f1ff; }
    .effect1:hover:before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 2px solid rgba(0, 241, 255, 0.4);
      box-shadow: 0 0 20px 2px #00f1ff; }
  .effect1:focus {
    outline: none; }
  .effect1:before {
    content: "";
    top: -8px;
    bottom: -6px;
    left: 2px;
    right: 2px;
    content: '';
    position: absolute;
    border-radius: inherit;
    opacity: 0.6;
    z-index: -1;
    border: 1px solid white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .effect1:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(1.1, 1, 1);
    transform: scale3d(1.1, 1, 1);
    content: '';
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    border: 1px solid white;
    -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -moz-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -ms-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -o-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); }

.btn-1 {
  position: absolute;
  top: 3%;
  right: 12%;
  background: transparent;
  border: none; }

.btn-2 {
  position: absolute;
  top: 3%;
  right: 5%;
  background: transparent;
  border: none; }

/*# sourceMappingURL=style.css.map */
